*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.container{
    text-align: center;
}
h1{
    padding-bottom: 50px;
    color: black;
    text-align: center;
    font-size:80px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 10px;
    transition:all .5s;

}
.color-range{
    width: 600px;
    height: 40px;
    background:none;
    outline: none;
    cursor: pointer;
}